body {
      font-family: Arial;
      background-color: #f2f2f2;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .calculator {
      background: grey;
      padding: 20px;
      border-radius: 10px;
    }

    #result {
      width: 100%;
      height: 40px;
      font-size: 20px;
      text-align: right;
      margin-bottom: 10px;
      padding-right: 10px;
      
    }

    .buttons button {
      width: 50px;
      height: 50px;
      margin: 15px;
      font-size: 18px;
      cursor: pointer;
      
    }

    .buttons {
      justify-content: center;
    }
  








                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          