    body { font-family: Arial,
         sans-serif;
          text-align: center; }
    input, button { padding: 8px;
         margin: 5px; }
    ul { list-style: none;
         padding: 0; }
    li { background: #f2f2f2; 
        padding: 5px; 
        margin: 5px auto;
         width: 200px; 
         cursor: pointer; 
    }